pandas
numpy
matplotlib
scipy
kloppy
mplsoccer
polars
humanize
pyarrow
pyyaml>=6.0
pytest>=7.4
# SkillCorner Viz (optional depends on colab usage)
skillcorner==3.1
skillcornerviz

# Documentation
mkdocs-material>=9.5.0
mkdocs-jupyter>=0.24.0